language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4snapshot
  - hhvm
  
matrix:
  allow_failures:
    - php: 5.3.3
    - php: hhvm

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

script:
  composer test
