parameters:
  level: 5
  paths:
    - src/
    - tests/Integration/Services/Telephony
  bootstrapFiles:
    - tests/bootstrap.php
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 8
    minimumNumberOfJobsPerProcess: 2
  editorUrlTitle: '%%relFile%%:%%line%%'
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'